Name: <input id="input" onkeydown="enter(event)">
<button id="myBtn" onclick="sendData()">Submit</button>
<p id="output"></p>

<script>
  function enter(event){
    if (event.key === "Enter") {
      document.getElementById("myBtn").click();
    }
  }

  const input = document.getElementById("input");
  const output = document.getElementById('output');
  function sendData() {
    const xhttp = new XMLHttpRequest();
    xhttp.onload = function() {
      output.innerHTML = this.responseText;
    }
    xhttp.open("GET", "/helloname?q=" + input.value, true);
    xhttp.send();
  }
</script>
